<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,600,700' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="sub-header">
                <h1>
                    <a href="{{ path('homepage') }}" class="header-logo">
                        <img src="{{ asset('images/logo.png') }}" alt="Logo">
                    </a>
                </h1>

                <nav>
                    <ul>
                        <li><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li><a href="{{ path('homepage') }}">Présentation</a></li>
                        <li><a href="{{ path('homepage') }}">Voyager</a></li>
                        <li><a href="{{ path('homepage') }}">Publier</a></li>
                        <li><a href="{{ path('homepage') }}" class="btn">Connexion</a></li>
                    </ul>
                </nav>
            </div>

            <div class="cover">
                <h2>Commencez votre voyage</h2>
                <p>Trouvez un guide dans la ville que vous souhaitez visiter ou publiez un voyage pour être contacté</p>
                <a href="{{ path('homepage') }}" class="btn">Publier un voyage</a>
                <a href="{{ path('homepage') }}" class="btn">Trouver un guide</a>
            </div>
        </header>
        {% block body %}{% endblock %}

        <footer>

        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
